<div class="container text-center">
  <p id="notice"><%= notice %></p>

  <h1>Mi Información</h1>

  <p>
    <strong>Nombre:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= @user.lastname %>
  </p>

  <p>
    <strong>Nick:</strong>
    <%= @user.nick %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= @user.birthdate %>
  </p>

  <!--<p>-->
    <!--<strong>Provider:</strong>-->
    <!--<%#= @user.provider %>-->
  <!--</p>-->

  <!--<p>-->
    <!--<strong>Uid:</strong>-->
    <!--<%#= @user.uid %>-->
  <!--</p>-->

  <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Volver', users_path %>

</div>

<script>
  user();
</script>
