<div id="content" class="content full">
<section class="home-top with-carousel">
<div class="slider-container">
  <div class="slider" id="topRevolutionSlider">
    <ul>
      <li data-transition="fade" data-slotamount="13" data-masterspeed="300">

        <img src="/assets/blank.gif" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption top-label customin"
             data-x="center" data-hoffset="0"
             data-y="135"
             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
             data-speed="800"
             data-start="0"
             data-easing="Back.easeInOut"
             data-endspeed="300">Gana increibles premios
        </div>

        <div class="tp-caption top-label sfr visible-md visible-lg"
             data-x="center" data-hoffset="-300"
             data-y="150"
             data-speed="800"
             data-start="0"
             data-easing="Back.easeInOut"
             data-endspeed="300">
          <div class="top-line"></div>
        </div>

        <div class="tp-caption top-label sfl visible-md visible-lg"
             data-x="center" data-hoffset="300"
             data-y="150"
             data-speed="800"
             data-start="0"
             data-easing="Back.easeInOut"
             data-endspeed="300">
          <div class="top-line"></div>
        </div>

        <div class="tp-caption main-label customin"
             data-x="center" data-hoffset="0"
             data-y="160"
             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
             data-speed="800"
             data-start="300"
             data-easing="Back.easeInOut"
             data-endspeed="300">InfoPrisma
        </div>

        <div class="tp-caption bottom-label sfb"
             data-x="center" data-hoffset="0"
             data-y="310"
             data-speed="800"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endspeed="300">Informate jugando :)
        </div>

        <div class="tp-caption sft"
             data-x="center" data-hoffset="0"
             data-y="390"
             data-speed="800"
             data-start="700"
             data-easing="Back.easeInOut"
             data-endspeed="300">
          <a data-hash href="#secciones" class="btn btn-lg btn-primary main-button">Empezar</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="main-carousel" id="secciones">

<div class="owl-carousel manual">
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Deportes" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionO.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Espectáculos" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionY.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Política" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionR.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="General" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionS.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Sociedad" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionO.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Tecno" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionY.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Arte" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"></i> informate</em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionR.png">
											</span>
    </a>
  </div>
</div>
<div>
  <div class="portfolio-item">
    <a href="<%= pages_index_url %>" data-tooltip="Música" class="thumb-info img-thumbnail">
											<span class="thumb-info-image">
												<span class="thumb-info-act">
													<span class="thumb-info-act-left"><em>Jugá </em></span>
													<span class="thumb-info-act-right"><em><i class="icon icon-plus"> informate</i>
                                                      </em></span>
												</span>
												<img alt="" class="img-responsive" src="/assets/slides/sectionS.png">
											</span>
    </a>
  </div>
</div>

</div>


<div style="-webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        text-align: center;
        padding-top: 5px;
        position: relative;
        top: 45px;
        visibility: hidden;">

</div>

</section>

</div>

<div class="container">

  <div class="row center" id="get-started">
    <div class="col-md-12">
      <h2 class="short lead">
        <strong class="alternative-font default">Dale Play!</strong> y aprende a jugar en pocos segundos.
      </h2>


    </div>
    <div class="home-player">
      <a href="http://www.youtube.com/watch?v=1jmoCzR9ENg&amp;wmode=opaque" class="home-player-icon" id="homeVideoPlay">
        <i class="icon icon-play-circle-o"></i>
      </a>
    </div>
    <br/>

  </div>

  <hr class="tall"/>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="icon icon-star"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Noticias en general</h4>

              <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque
                imperdiet.</p>
            </div>
          </div>
          <div class="feature-box secundary push-top">
            <div class="feature-box-icon">
              <i class="icon icon-dribbble"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Deportes</h4>

              <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="icon icon-film"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Espectáculos</h4>

              <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
          </div>
          <div class="feature-box secundary push-top">
            <div class="feature-box-icon">
              <i class="icon icon-gavel"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Política</h4>

              <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque
                imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box secundary">
            <div class="feature-box-icon">
              <i class="icon icon-group"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Sociedad</h4>

              <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
          </div>
          <div class="feature-box secundary push-top">
            <div class="feature-box-icon">
              <i class="icon icon-desktop"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Tecno</h4>

              <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<section class="featured highlight footer">
  <div class="container">
    <div class="row center counters">
      <div class="col-md-3">
        <div data-appear-animation="bounceIn" data-appear-animation-delay="0">
          <strong data-to="5000">0</strong>
          <label>Clientes divertidos</label>
        </div>
      </div>
      <div class="col-md-3">
        <div data-appear-animation="bounceIn" data-appear-animation-delay="200">
          <strong data-to="1500">0</strong>
          <label>Noticias</label>
        </div>
      </div>
      <div class="col-md-3">
        <div data-appear-animation="bounceIn" data-appear-animation-delay="400">
          <strong data-to="5000">0</strong>
          <label>Clientes informados</label>
        </div>
      </div>
      <div class="col-md-3">
        <div data-appear-animation="bounceIn" data-appear-animation-delay="600">
          <strong data-to="159">0</strong>
          <label>Tweets</label>
        </div>
      </div>
    </div>
  </div>
</section>
